# Exercise Data Visualization Basic

Source dataset: https://www.kaggle.com/dansbecker/melbourne-housing-snapshot

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import plotly.express as px
import plotly.graph_objects as go

plt.style.use('seaborn-v0_8')
pd.set_option('display.max_columns', 500)

import warnings
warnings.filterwarnings('ignore')

In [7]:
# Jika ingin menjalankan notebook di Google Colab
# from google.colab import drive
# drive.mount('/content/drive')

In [8]:
# Gunakan path yang sudah disediakan jika menjalankan notebook di Google Colab
df = pd.read_csv('melb_data.csv')
# Jika menjalankan notebook di local (Jupyter Notebook/VS Code), gunakan path sendiri sesuai dengan lokasi download file
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

## No. 1
1. Buatlah Histogram untuk menampilkan distribusi data harga rumah (kolom “Price”)!
2. Tambahkan judul “Distribusi Harga Rumah” berukuran 15!
3. Tidak ada ketentuan pilihan warna, ukuran, dan library yang digunakan.

In [9]:
# No 1

## No. 2
1. Buatlah Box Plot untuk menampilkan distribusi data jarak ke CBD (kolom “Distance”)!
2. Buatlah Box Plot “Distance” untuk tiap nama region (kolom “Regionname”)!
3. Tambahkan judul ‘Distribusi Jarak ke CBD berdasarkan Nama Region’ berukuran 15!
4. Tidak ada ketentuan pilihan warna, ukuran, dan library yang digunakan.

In [10]:
# No 2

## No. 3

1. Buatlah Bar Plot (diagram batang) untuk membandingkan nilai median harga
rumah (kolom “Price”) di tiap tipe rumah (kolom “Type”)!
2. Tambahkan judul ‘Perbandingan Nilai Median Harga Rumah’ berukuran 15!
3. Tidak ada ketentuan pilihan warna, ukuran, dan library yang digunakan.

In [11]:
# No 3

## No. 4

1. Buatlah Scatter Plot (diagram titik) untuk menampilkan korelasi antara harga rumah (kolom “Price”) dengan Jarak ke CBD (kolom “Distance”)!
2. Bedakan warna titik berdasarkan tipe rumah (kolom “Type”)!
3. Tambahkan judul ‘Korelasi Harga Rumah dan Jarak Rumah ke CBD’ berukuran 15!
4. Tidak ada ketentuan pilihan ukuran dan library yang digunakan.

## No. 5

1. Konversi kolom “Date” menjadi tipe data datetime64. Buatlah kolom baru bernama ‘Month’ hasil ekstraksi data bulan dari kolom “Date”!
2. Buatlah Line Plot (diagram garis) untuk menampilkan tren perkembangan harga rumah (kolom “Price”) tiap bulan!
3. Bedakan warna garis berdasarkan tipe rumah (kolom “Type”)!
4. Tambahkan judul ‘Tren Harga Rumah per Bulan berdasarkan Tipe Rumah’ berukuran 15!
5. Tidak ada ketentuan pilihan ukuran dan library yang digunakan.

## No. 6

1. Kelompokkan total luas tanah (kolom “Landsize”) berdasarkan region (kolom “Regionname”), lalu simpan ke dalam sebuah DataFrame baru!
2. Dari DataFrame baru tersebut, buatlah Pie Chart (diagram lingkaran) untuk menampilkan proporsi total luas tanah di tiap region!
3. Tambahkan explode agar potongan diagram seakan terpisah!
4. Tambahkan judul ‘Proporsi Luas Tanah tiap Region’ berukuran 20!
5. Tidak ada ketentuan pilihan warna, ukuran, dan library yang digunakan.

## No. 7

1. Buatlah terlebih dahulu correlation matrix yang berisi korelasi kolom “Price”, “Distance”, “Landsize”, dan “Rooms”!
2. Dari correlation matrix ini, buatlah Correlation Heatmap untuk memvisualisasikan korelasi antar variabel!
3. Tampilkan data korelasi di heatmap (annot = True) !
4. Tambahkan judul ‘Heatmap Korelasi Harga, Jarak, Luas Tanah dan Jumlah Kamar’ berukuran 20!
5. Tidak ada ketentuan pilihan warna, ukuran, dan library yang digunakan.

## No. 8

1. Urutkan data berdasarkan harga (kolom “Price”) dan tampilkan 10 data dari harga rumah tertinggi, kemudian simpan hasilnya ke dalam DataFrame baru!
2. Buatlah peta Melbourne yang berlokasi di [-37.8136, 144.9631] dan zoom_start = 11!
3. Di dalam peta Melbourne, tambahkan 10 marker sesuai lokasi 10 rumah dengan harga tertinggi!
4. Di dalam marker, popup berisi harga rumah dan tooltip berisi alamat rumah.